@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("./styles/components.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #f1f2f2;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  white-space: pre-line;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
}

.small-logo {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
